html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a,
h1,
h2,
h3,
h4,
h5, 
p {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}

.left-links {
  margin-right: auto;
}
.right-links {
  margin-left: auto;
}

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #1F2937;
}

.content {
  /* placeholder height */
  height: 500px;
}

.quote {
  background-color: #E5E7EB;
}

.footer {
  flex-shrink: 0;
}