html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a,
h1,
h2,
h3,
h4,
h5, 
p,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 16px;
}
.left-links {
  margin-right: auto;
}
.right-links {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 24px;
}

h1 {
  color: #F9FAF8;
}
.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary,
.link {
  color: #E5E7EB;
  font-size: 18px;
}

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: #1F2937;
  display: flex;
}

.header-img {
  height: 300px;
  width: 600px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 18px;
}

.item {
  flex: 1;
}

.content {
  /* placeholder height */
  height: 500px;
}

.quote {
  background-color: #E5E7EB;
}

.footer {
  flex-shrink: 0;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.img-box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 10%;
}
