html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a,
h1,
h2,
h3,
h4,
h5, 
p,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 16px;
}
.left-links {
  margin-right: auto;
}
.right-links {
  margin-left: auto;
  align-items: center;
  gap: 24px;
}
.right-links li {
  flex: auto;
}

h1 {
  color: #F9FAF8;
}
.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary,
.link {
  color: #E5E7EB;
  font-size: 18px;
}

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

.banner {
  background-color: #1F2937;
}

.content {
  /* placeholder height */
  height: 500px;
}

.quote {
  background-color: #E5E7EB;
}

.footer {
  flex-shrink: 0;
}